@font-face {
  font-family: 'Hacked';
  src: url("./fonts/KH-Dot-Akihabara-16.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root{
    font-size: 6vw;
    color: #fff;
    touch-action: manipulation;
}

body{
    font-family: "Hacked", sans-serif;
    pointer-events: none;
}

body *{
    pointer-events: all;
}

.center{
    text-align: center;
    width: 100%;
}

.scene{
    pointer-events: none;
}

header{
    background-color: #000; 
    height: 2em;
    color: white;
}

.bottom{
    margin-top:30vh !important;
    margin-bottom: 20vh !important;
}

.popup-window{
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    position: fixed;
    z-index:10;
    pointer-events: all;
    background-color: #000000d0;
}

.popup-window p{
    margin-left:10vw;
    margin-top:30vh;
    width: 80vw;
}

.popup-window button{
    position: absolute;
    margin-left:20vw !important; 
    margin-top:10vh;
    width: 60vw;
}

.text_small{
    font-size: 0.7em;
}

.text_count{
    font-size: 1.3em;
}

#qr canvas{
    width: 100%;
}

.gray-img{
    filter: grayscale(100%);
}